.contact {
  padding-top: 20px;
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  background-color: #1e1e1e;
  .info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding-top: 84px;
    span {
      font-size: 28px;
      font-weight: 300;
      margin-left: 20px;
      h3 {
        font-size: 28px;
        font-weight: 300;
      }
      p {
        font-weight: 300;
      }
    }
  }
  .title {
    margin-top: 200px;
    width: auto;
    font-size: 298px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 20px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    div {
      border-top: 0.5px solid #8b8376;
      font-size: 14px;
      font-weight: 300;
      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 60px;
        h3 {
          font-size: 14px;
          font-weight: 300;
        }
        p {
          font-weight: 300;
        }
      }
    }
  }
}
