@import "../components/media";

.footer {
  bottom: 0px;
  position: sticky;
  width: 100vw;
  div {
    font-size: 14px;
    font-weight: 300;
    margin: 20px;
    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      h3 {
        font-size: 14px;
        font-weight: 300;
      }
      p {
        font-weight: 300;
      }
      @include mobile {
        display: flex;
      }
    }
  }
  .social {
    display: flex;
    gap: 16px;
    bottom: 32px;
    p {
      font-weight: 300;
      &:hover {
        color: gray;
      }
    }
  }
  @include tablet {
    margin: 0px;
  }
  @include mobile {
    margin: 0px;
  }
}
