.header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0;
  color: white;
  padding: 18px;
  justify-content: space-between;
  width: 100%;
  color: #e7e3e0;
  font-weight: 500;
  box-sizing: border-box;
  align-items: center;

  .logo {
    display: flex;
    cursor: pointer;
    border-style: solid;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 8px;
    p {
      margin-top: 4px;
      padding-left: 4px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
      display: flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 4px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      p {
        position: relative;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        &:nth-of-type(2) {
          padding-left: 0.3em;
        }
        &:nth-of-type(3) {
          position: absolute;
          left: 120px;
          padding-left: 0.3em;
        }
      }
    }
    &:hover {
      .copyright {
        transform: rotate(360deg);
      }
      .name {
        padding-right: 80px;
        .codeBy {
          transform: translateX(-120%);
        }
        .dennis {
          transform: translateX(-70%);
        }
        .snellenberg {
          transform: translateX(-40%);
        }
      }
    }
  }
}
