@import "../../_component/media";

.project {
  position: relative;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid rgb(201, 201, 201);
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid rgb(201, 201, 201);
}
.project div {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.project span {
  display: flex;
  width: 64%;
  @include tablet {
    width: 32%;
  }
  @include mobile {
    width: 26%;
  }
}

.project:hover {
  background-color: white;
}

.project:hover h2 {
  transform: translateX(20px);
  mix-blend-mode: difference;
}

.project:hover p {
  mix-blend-mode: difference;
}

.project h2 {
  font-size: 18px;
  margin: 0px;
  font-weight: 300;
  transition: all 0.4s;
  @include mobile {
    transform: translateX(10px);
    font-size: 12px;
  }
}

.project p {
  font-weight: 200;
  @include mobile {
    font-size: 10px;
  }
}
